<nav>
	<ul>
		<li><%= link_to 'Ecoas', root_url %></li>
		<li><%= link_to 'Nosotros', root_url %></li>
		<li><%= link_to 'Unete', root_url  %></li>
	</ul>
</nav>


<div class="container">
	<article>
		<div>
			<img src="http://goo.gl/UbjZcx">
		</div>

		<div>
			<h1>Bienvenido a <strong>Ecoas</strong>,</h1>
			<p>
				La plataforma que te permite evaluar para mejorar!
			</p>

			<% if current_user.present? %>
			<%= link_to 'Bienvenido', dashboard_path %>
			<% else %>
				<%= link_to 'Login', login_path %>
			<% end %>

		</div>
	</article>

	
</div>


